.welcome_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-image: url(../imgs/1.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}